body* { 
  font-size: 13px;
}

.logo {
    font-size: inherit;
}

.node circle {
  fill: #fff;
  stroke: gray;
  stroke-width: 3px;
}

.node text { font: 10px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 7px;
}

.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.47059;
  overflow: visible;
  padding: 2px 5px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

/*
.info-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.info-tooltip .info-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: left;
  word-wrap: break-word;
  border: 1px solid darkgray;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  top: -93px;
  right: 95%;
}

.info-tooltip span {
  z-index: 9999;
}

.info-tooltip .info-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent darkgray;
}

.info-tooltip:hover .info-tooltiptext {
  visibility: visible;
}
*/

.info-tooltip {
  position:relative;
  display: inline-block;
  cursor: pointer;
}

.info-tooltip .info-tooltiptext {
  width:200px;
  padding:10px 10px;
  display:none;
  position:absolute;
  z-index:10000000;
  border-radius:3px;
  background:rgba(0,0,0,0.75);
  font-size:11px;
  text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
  line-height:150%;
  color:#fff;
}

.info-tooltiptext {
  position:absolute;
}

.info-tooltip .info-tooltiptext:before {
  width:0px;
  padding:0px;
  position:absolute;
  content:'';
}

.info-tooltip.left .info-tooltiptext {
  top:-7px;
  right:17px;
}

.info-tooltip.left .info-tooltiptext:before {
  top:10px;
  right:-5px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid rgba(0,0,0,0.75);
}

.info-tooltip:hover .info-tooltiptext {
  display:inline-block;
}

#text-block {
    float:left;
    width:50%;
    height:100%;
    color:#000;
}

#floating-container {
    position:absolute;
    top:100px;
    left:55%;
    width:40%;
    height:200px;
    background:#97835f;
}

